@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Source+Code+Pro:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/62cb35106b051dbe83bc605d.62cb3511df96727f57f7822d.kTeRdYq.hcp.png");

@font-face {
  font-family: "Source Sans Pro SemiBold-Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Italic.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
